/* CSS Document */

/*
	Theme Name: Venda
	Description: Venda - Responsive Template
	Version: 1.0
	Author: ZoOm-Arts
	Website: http://zoom-arts.com
*/

/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   01 - General & Basic Styles   */
/*   02 - Header & Navigation      */
/*   03 - Main Page Elements       */
/*   04 - Revolution Slider        */
/*   05 - Shortcodes Elements      */
/*   06 - Portfolio Styles         */
/*   07 - Single Project Styles    */
/*   08 - Blog Styles              */
/*   09 - Single post Styles       */
/*   10 - Sidebar Styles           */
/*   11 - Footer Styles 		   */
/*   12 - Plugins Styles 	  	   */





@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);





/*------------------------------------------*/
/*	     01 - General & Basic Styles
/*------------------------------------------*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
    line-height: 21px;
	font-weight: 300;
	color: #888;
}
strong, b {
	font-weight: 600;
}

img {
	max-width: 100%;
	height: auto;
}

ul, ol {
	list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
}

a:hover {
    color: #444;
}

a, a:hover {
    text-decoration: none;
}

i {
	font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 0;
	color: #444;
}

h1 {
    font-size: 24px;
	line-height: 30px;
}

h2 {
    font-size: 22px;
	line-height: 28px;
}

h3 {
    font-size: 18px;
	line-height: 24px;
}

h4 {
    font-size: 16px;
	line-height: 22px;
}

h5 {
    font-size: 14px;
	line-height: 20px;
}

h6 {
    font-size: 12px;
	line-height: 18px;
}

p {
    color: #888;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    margin: 0;
}

p strong {
	font-weight: 600;
}

.fittext {
	font-size: 38px;
	font-weight: 300;
	line-height: 46px;
	color: rgba(0,0,0, 0.8);
}

.fittext strong {
	font-weight: 700;
}

.page-content p {
	margin-bottom: 15px;
}

.wite-text {
	color: #fff;
}

.uppercase {
	text-transform: uppercase;
}

.image-text {
	margin-right: 10px;
}

a.main-button, input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: 6px 16px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

a.main-button:hover, input[type="submit"]:hover {
	background: #444;
	color: #fff;
}

a.main-button i {
	font-size: 1.2em;
}

input[type="submit"] {
	border: none;
}

.tooltip .tooltip-inner {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}



#content.full-sections {
	padding: 0;
}

.section {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

.section.repeat-bg {
	background-repeat: repeat;
	-webkit-background-size: auto !important;
	-moz-background-size: auto !important;
	-o-background-size: auto !important;
	background-size: auto !important;
}

.bg-parallax {
	background-attachment: fixed;
}

.section-video {
	position: absolute;
	z-index: 33;
	left: 0;
	top: -100px;
	width: 100%;
	height: auto;
	min-height: 100%;
}

.section-video-content {
	z-index: 35;
	position: relative;
	opacity: 0.98;
}

.section-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 34;
	opacity: 0.7;
}

.light-section {
	color: #fff;
}

.light-section .testimonials {
	color: #aaa;
}

.light-section .testimonials .testimonial-content p {
	color: #c4c4c4;
}

#container {
    background-color: #fff;
}

.boxed-page {
  position: relative;
  width: 1220px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.boxed-page header {
  width: 1220px;
}

#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999999999;
}

.spinner {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	-webkit-animation: rotatee 2.0s infinite linear;
	animation: rotatee 2.0s infinite linear;
}

.dot1, .dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #0a9fd8;
	border-radius: 100%;
	-webkit-animation: bouncee 2.0s infinite ease-in-out;
	animation: bouncee 2.0s infinite ease-in-out;
}

.dot2 {
	top: auto;
	bottom: 0px;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes rotatee { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotatee {
	100% {
		transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes bouncee {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes bouncee {
	0%, 100% {
		transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
}






/*------------------------------------------*/
/*	     02 - Header & Navigation
/*------------------------------------------*/

header {
	position: fixed;
	top: 0;
    width: 100%;
	z-index: 9999999;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.fixed-header {
	opacity: 0.95;
	box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  	-webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

.top-bar {
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
}

.top-bar.color-bar {
	border-bottom: 0;
}

.top-bar.color-bar a {
	color: rgba(255,255,255,.6);
}

.top-bar.color-bar a:hover {
	color: rgba(255,255,255,1) !important;
}

.top-bar.color-bar ul.social-list li a i {
	border-left: 1px solid rgba(255,255,255,.1);
}

.top-bar.color-bar ul.social-list li:last-child a i {
	border-right: 1px solid rgba(255,255,255,.1);
}

.top-bar.color-bar .contact-details li a:before {
	color: rgba(255,255,255,.2);
}

.top-bar.dark-bar {
	background-color: #444;
	border-bottom: 0;
}

.top-bar.dark-bar a {
	color: rgba(255,255,255,.4);
}

.top-bar.dark-bar a:hover {
	color: rgba(255,255,255,1) !important;
}

.top-bar.dark-bar ul.social-list li a i {
	border-left: 1px solid rgba(255,255,255,.08);
}

.top-bar.dark-bar ul.social-list li:last-child a i {
	border-right: 1px solid rgba(255,255,255,.08);
}

.top-bar.dark-bar .contact-details li a:before {
	color: rgba(255,255,255,.2);
}

.top-bar a {
	color: #aaa;
}

.top-bar .contact-details li {
	display: inline-block;
}

.top-bar .contact-details li a:before {
	position: relative;
	content: "|";
	font-size: 13px;
	margin: 0 3px;
	top: -1px;
	color: #ddd;
}

.top-bar .contact-details li a:before {
	color: #aaa;
}

.top-bar .contact-details li:first-child a:before {
	display: none;
}

.top-bar .contact-details li a {
	font-size: 12px;
	display: block;
	line-height: 32px;
}

ul.social-list {
    float: right;
}

ul.social-list li {
    float: left;
}

ul.social-list li a {
    display: inline-block;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.social-list li a:hover {
	color: #fff;
}

ul.social-list li a.facebook:hover {
	background-color: #507CBE;
}

ul.social-list li a.twitter:hover {
	background-color: #63CDF1;
}

ul.social-list li a.google:hover {
	background-color: #F16261;
}

ul.social-list li a.dribbble:hover {
	background-color: #E46387;
}

ul.social-list li a.linkdin:hover {
	background-color: #90CADD;
}

ul.social-list li a.tumblr:hover {
	background-color: #4D7EA3;
}

ul.social-list li a.flickr:hover {
	background-color: #E474AF;
}

ul.social-list li a.instgram:hover {
	background-color: #4D4F54;
}

ul.social-list li a.vimeo:hover {
	background-color: #87D3E0;
}

ul.social-list li a.skype:hover {
	background-color: #36C4F3
}

ul.social-list li a i {
	font-size: 1em;
	display: block;
	width: 34px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	border-left: 1px solid #f2f2f2;
}

ul.social-list li:last-child a i {
	border-right: 1px solid #f2f2f2;
}

.navbar {
	margin-bottom: 0;
	background: #fff;
	border: none;
	border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.navbar-brand {
	position: relative;
	padding: 27px 0;
	margin: 0!important;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav {
	margin-right: 10px!important;
	position: relative;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav > li {
    margin-left: 6px;
}

.navbar-default .navbar-nav > li:first-child {
    margin-left: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #999;
	display: block;
    font-size: 14px;
	font-weight: 400;
    padding: 28px 15px 28px 15px;
	overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {
	border-bottom: 2px solid;
}

.navbar-default .navbar-nav > li > a i {
	margin: 0 -2px 0 -5px;
}

.navbar-default .navbar-nav > li > a:after {
	position: absolute;
	bottom: 0;
	content: '';
	left: 50%;
	display: block;
	height: 5px;
	width: 5px;
	opacity: 0;
	margin: 0 0 -3px -2px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
}

.navbar-default .navbar-nav > li > a.active:after {
	opacity: 1;
}

.navbar-default .navbar-nav .dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 180px;
	background-color: #fff;
    visibility: hidden;
    z-index: 2;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav > li.drop:hover .dropdown {
    visibility: visible;
	opacity: 1;
}

.dropdown li, .sup-dropdown li {
	position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.dropdown li:first-child, .sup-dropdown li:first-child {
    border-top: none;
}

.dropdown li a, .sup-dropdown li a {
    display: block;
    color: #aaa;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    padding: 9px 14px;
    text-decoration: none;
    text-transform: capitalize;
    transition: padding 0.2s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out;
    -webkit-transition: padding 0.2s ease-in-out;
    -o-transition: padding 0.2s ease-in-out;
}


.dropdown > li:hover > a, .sup-dropdown li:hover > a {
	padding-left: 18px;
}

.dropdown li a i {
	margin: 0 0 0 -4px;
}

.navbar-default .navbar-nav .sup-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    width: 180px;
	background-color: #fff;
    margin-top: 10px;
    transition: margin-top 0.2s ease-in-out;
    -moz-transition: margin-top 0.2s ease-in-out;
    -webkit-transition: margin-top 0.2s ease-in-out;
    -o-transition: margin-top 0.2s ease-in-out;
    visibility: hidden;
    z-index: 3;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav li.drop .dropdown li:hover .sup-dropdown {
    visibility: visible;
    margin-top: 0;
}

.search-side {
	position: relative;
	float: right;
	top: 19px;
	right: -15px;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.show-search {
	position: relative;
	display: block;
	float: right;
}

.show-search i {
	font-size: 1.2em !important;
	display: block;
	color: #aaa;
	width: 36px;
	height: 36px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	line-height: 36px;
	text-align: center;
	background-color: #f2f2f2;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.show-search:hover i {
	color: #888;
}

.navbar .search-form {
	position: absolute;
	right: 0;
	z-index: 20;
	float: right;
	display: none;
	top: 40px;
}

.navbar .search-form:before {
	background-color: #ccc;
	top: -2px;
	content: '';
	display: block;
	height: 4px;
	width: 4px;
	z-index: 20;
	right: 15px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
}

.navbar .search-form form input {
	border: 2px solid #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	padding: 5px 14px;
	z-index: 22;
	color: #9d9d9d;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
  	-webkit-box-shadow: none;
	outline: none;
	box-shadow: none;
}

.navbar .search-form form {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 20;
}






/*------------------------------------------*/
/*	   03 - Main Page Elements
/*------------------------------------------*/

.page-banner {
    padding: 30px 0;
    background: #f6f6f6;
	border-bottom: 1px solid #eee;
}

.page-banner h2 {
	font-weight: 500;
	text-transform: uppercase;
}

.page-banner p {
	font-weight: 300;
}

ul.breadcrumbs {
    float: right;
	margin-top: 15px;
}

.no-subtitle ul.breadcrumbs {
	margin-top: 4px;
}

ul.breadcrumbs li {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 300;
    margin-left: 3px;
	color: #999;
	float: left;
}

ul.breadcrumbs li:before {
    content: '/';
	margin: 0 4px 0 2px;
	color: #bbb;
}

ul.breadcrumbs li:first-child {
	margin: 0;
}

ul.breadcrumbs li:first-child:before {
    content: '';
	margin: 0;
}

ul.breadcrumbs li a {
	color: #888;
	font-weight: 600;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

label {
	font-size: 13px;
	color: #aaa;
	font-weight: 300;
	cursor: pointer;
}

label .required {
	color: #ED2C3A;
	margin-left: 2px;
}

input[type="submit"] {
    outline: none;
}

.widget-search input[type="search"],
#contact-form input[type="text"],
#contact-form textarea,
#respond input[type="text"],
#respond textarea {
    color: #aaafb5;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    outline: none;
    width: 100%;
    padding: 7px 14px;
    display: block;
    margin-bottom: 10px;  
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.widget-search input[type="search"]:focus,
#contact-form input[type="text"]:focus,
#contact-form textarea:focus,
#respond input[type="text"]:focus,
#respond textarea:focus {
	border-color: #ddd;
	box-shadow: 0 0 3px #eee;
	-o-box-shadow: 0 0 3px #eee;
	-moz-box-shadow: 0 0 3px #eee;
  	-webkit-box-shadow: 0 0 3px #eee;
}

.mail_response {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.name-missing, .email-missing, .message-missing {
    opacity: 0;
    color: #ED2C3A;
    margin-left: 10px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.error-page {
    padding: 90px 0;
    text-align: center;
}

.error-page h1 {
    font-size: 160px;
    line-height: 140px;
    font-weight: 700;
    color: #333;
}

.error-page h3 {
    font-size: 64px;
    line-height: 70px;
    font-weight: 300;
}

.error-page p {
    font-size: 22px;
    line-height: 28px;
    color: #aaa;
    margin-bottom: 25px
}

#map {
	position: relative;
	height: 350px;
	width: 100%;
}






/*------------------------------------------*/
/*	         04 - Revolution Slider
/*------------------------------------------*/

.tp-bannertimer {
    background:#777 !important;
    background:rgba(0,0,0,0.1) !important;
    height:5px !important;
}

.tparrows:before {
    font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-size: 1.5em;
	color: #444;
	font-variant: normal;
	text-transform: none;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.tparrows {
    cursor: pointer;
    background: #fff!important;
    border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    width: 40px !important;
    height: 40px !important;
	line-height: 40px;
	text-align: center;
}

.tp-leftarrow:before {
    content: '\e896';
}

.tp-rightarrow:before {
    content: '\e897';
}

.tparrows.tp-rightarrow:before {
    margin-left: 1px;
}


/******** Custom Captions ********/
.tp-caption.big_font_size {
	font-size: 36px;
	line-height: 36px;
}

.tp-caption.medium_font_size {
	font-size: 24px;
	line-height: 28px;
}

.tp-caption.small_font_size {
	font-size: 18px;
	line-height: 24px;
}

.tp-caption.mini_font_size {
	font-size: 14px;
	line-height: 22px;
}

.tp-caption.boldest_font_weight {
	font-weight: 900;
}

.tp-caption.bold_font_weight {
	font-weight: 700;
}

.tp-caption.regular_font_weight {
	font-weight: 500;
}

.tp-caption.light_font_weight {
	font-weight: 300;
}

.tp-caption.dark_font_color {
	color: #444;
}

.tp-caption.black_font_color {
	color: #111;
}

.tp-caption.gray_font_color {
	color: #888;
}

.tp-caption.wite_font_color {
	color: #fff;
}

.tp-caption.wite_bg {
	background-color: #fff;
	padding: 6px 12px;
	border-radius: 3px;
}

.tp-caption.gray_bg {
	background-color: #444;
	color: #fff;
	padding: 6px 12px;
	border-radius: 3px;
}

.tp-caption.color-bg {
	color: #fff;
	padding: 6px 12px;
	border-radius: 3px;
}






/*------------------------------------------*/
/*	     05 - Shortcodes Elements
/*------------------------------------------*/

/*************** Dividers ***************/

.hr1 {
	height: 1px;
}

.hr2 {
	height: 0;
	border-bottom: 1px solid #eee;
}

.hr3 {
	height: 0;
	border-bottom: 1px dotted #eee;
}

.hr4 {
	height: 0;
	border-bottom: 1px dashed #eee;
}

.hr5 {
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0));
}



/*************** Clients Carousel ***************/

.clients-carousel .client-item a {
	display: block;
	padding: 12px 0;
	text-align: center;
}

.clients-carousel .client-item a img {
	/*-webkit-filter: grayscale(100%);*/
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.clients-carousel:hover .client-item a img {
	opacity: 0.6;
}

.clients-carousel:hover .client-item a:hover img {
	-webkit-filter: grayscale(0);
	opacity: 1;
}



/*************** Progress Bars ***************/

.progress-label {
	font-size: 13px;
	color: #444;
	margin-bottom: 2px;
	font-weight: 600;
}

.progress {
	border-radius: 24px;
	-webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -o-border-radius: 24px;
	height: 24px;
	border: 4px solid #eee;
	background-color: #fff;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
  	-webkit-box-shadow: none;
	margin-bottom: 10px;
}

.progress .progress-bar {
	border-radius: 8px;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
  	-webkit-box-shadow: none;
	text-align: right;
	transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -webkit-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
}

.progress.stacked .progress-bar {
	border-radius: 0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.progress.stacked .progress-bar:first-child {
	border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
}

.progress.stacked .progress-bar:last-child {
	border-radius: 0 8px 8px 0;
	-webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
}

.progress .progress-bar .percentage {
	position: relative;
	top: -3px;
	font-size: 11px;
	letter-spacing: 1px;
	margin-right: 10px;
}



/*************** Call To Action ***************/

.call-action-boxed {
	padding: 30px 40px;
}

.call-action.no-descripton h2.primary {
	margin-top: 4px;
}

.call-action h2.primary {
	font-weight: 500;
}

.call-action h2.primary strong {
	font-weight: 700;
}

.call-action p {
	font-size: 14px;
	margin-bottom: 0;
}

.call-action h2 + p {
	margin-top: 4px;
}

.call-action .button-side {
	float: right;
}

.call-action-style1 {
	border: 1px solid #e8e8e8;
	box-shadow: 0 0 25px rgba(0,0,0,.04) inset;
	-o-box-shadow: 0 0 25px rgba(0,0,0,.04) inset;
	-moz-box-shadow: 0 0 25px rgba(0,0,0,.04) inset;
  	-webkit-box-shadow: 0 0 25px rgba(0,0,0,.04) inset;
}

.call-action-style2 {
	background: #f2f2f2;
}

.call-action-style3 {
	background: #444;
}

.call-action-style3 h2.primary {
	color: #fff;
}

.call-action-style3 p {
	color: #bbb;
}



/*************** Custom Carousel ***************/

.custom-carousel .item {
	padding-right: 20px;
}

.custom-carousel.show-one-slide .item {
	padding-right: 0;
}



/*************** Latest News ***************/

.latest-posts-classic .post-row {
	margin-bottom: 20px;
}

.latest-posts-classic .left-meta-post {
	float: left;
	text-align: center;
	margin-right: 12px;
	margin-bottom: 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	overflow: hidden;
}

.latest-posts-classic .left-meta-post .post-date {
	padding: 8px 0;
	width: 42px;
	background-color: #444;
	color: #fff;
}

.latest-posts-classic .left-meta-post .post-date .day {
	font-size: 20px;
	font-weight: 700;
	display: block;
	letter-spacing: 1px;
}

.latest-posts-classic .left-meta-post .post-date .month {
	display: block;
	text-transform: uppercase;
	line-height: 14px;
	font-size: 11px;
	letter-spacing: 1px;
}

.latest-posts-classic .left-meta-post .post-type i {
	display: block;
	height: 40px;
	line-height: 39px;
	width: 42px;
	color: #fff;
	font-size: 1.4em;
}

.latest-posts-classic .post-title {
	margin-bottom: 5px;
}

.latest-posts-classic .post-title a {
	color: #444;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.latest-posts-classic .read-more {
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.latest-posts-classic .read-more:hover {
	color: #444;
}



/*************** Toggles & Accordion ***************/

.panel-default > .panel-heading {
	background-color: #fff;
}

.panel-group .panel {
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.panel-default {
	border-color: #e8e8e8;
}

.panel-body {
	padding: 4px 15px 10px 15px;
}

.panel-heading {
	padding: 0;
}

.panel-title {
	font-size: 13px;
	font-weight: 700;
}

.panel-title a {
	position: relative;
	display: block;
	padding: 6px 12px;
	background-color: #fff;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
  	-webkit-box-shadow: none;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.panel-title a.collapsed {
	color: #444;
	box-shadow: 0 0 15px rgba(0,0,0,.04) inset;
	-o-box-shadow: 0 0 15px rgba(0,0,0,.04) inset;
	-moz-box-shadow: 0 0 15px rgba(0,0,0,.04) inset;
  	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.04) inset;
}

.panel-title a.collapsed:hover {
	color: #666;
}

.panel-title a .control-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -11px;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.panel-title a.collapsed .control-icon {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}

.panel-title a i {
	font-size: 1.2em;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
	border-top: none;
}



/*************** Dropcaps ***************/

.dropcap {
	display: block;
	float: left;
	font-size: 40px;
	line-height: 34px;
	color: #444;
	margin: 6px 8px 0 0;
}

.dropcap.border-dropcap {
	border: 2px solid #444;
	width: 46px;
	height: 46px;
	font-size: 28px;
	font-weight: 500;
	line-height: 42px;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	margin: 8px 12px 0 0;
}

.dropcap.bg-dropcap {
	background-color: #444;
	color: #fff;
	width: 48px;
	height: 48px;
	font-size: 28px;
	font-weight: 500;
	line-height: 48px;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	margin: 8px 12px 0 0;
}

.dropcap.circle-dropcap {
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}



/*************** Milestone ***************/

.milestone-block {
	display: inline-block;
	margin-bottom: 25px;
	margin-right: 50px;
}

.milestone-block:last-child {
	margin-right: 0;
}

.milestone-block .milestone-icon {
	float: left;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	margin-right: 9px;
	margin-bottom: 4px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	position: relative;
}

.milestone-block .milestone-icon:after {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	position: absolute;
	top: 21px;
	right: -2px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.milestone-block .milestone-icon i {
	font-size: 2em;
	color: #fff;
}

.milestone-block .milestone-right {
	float: left;
	text-align: left;
}

.milestone-block .milestone-number {
	font-size: 26px;
	line-height: 28px;
	font-weight: 500;
}

.milestone-block .milestone-text {
	font-size: 18px;
	color: #444;
}



/*************** Pricing Tables ***************/

.pricing-tables {
	padding: 25px 0;
}

.pricing-tables .pricing-table {
	float: left;
	margin-right: -1px;
}

.pricing-tables.grid-2 .pricing-table {
	width: 50%;
}

.pricing-tables.grid-3 .pricing-table {
	width: 33.3332%;
}

.pricing-tables.grid-4 .pricing-table {
	width: 25%;
}

.pricing-tables.grid-5 .pricing-table {
	width: 20%;
}

.pricing-tables .pricing-table {
	border: 1px solid #e4e4e4;
	text-align: center;
	position: relative;
	background-color: #fff;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.pricing-tables .pricing-table:hover {
	z-index: 2;
	top: -3px;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.1);
	-o-box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.pricing-tables .highlight-plan {
	margin: -15px 0;
	margin-right: -1px;
	z-index: 1;
	box-shadow: 0 0 6px rgba(0,0,0,0.06);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.06);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.06);
	-o-box-shadow: 0 0 6px rgba(0,0,0,0.06);
}

.pricing-tables .pricing-table.highlight-plan .plan-name {
	padding: 25px 0;
}

.pricing-tables .pricing-table.highlight-plan .plan-signup {
	padding: 30px 0;
}

.pricing-table .plan-name {
	padding: 15px 0;
	box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
	-o-box-shadow:  0 0 20px rgba(0,0,0,.04) inset;
	-moz-box-shadow:  0 0 20px rgba(0,0,0,.04) inset;
  	-webkit-box-shadow:  0 0 20px rgba(0,0,0,.04) inset;
	border-bottom: 1px solid #eee;
}

.pricing-table .plan-name h3 {
	font-weight: 700;
	color: #888;
}

.pricing-table .plan-price {
	padding: 25px 0;
}

.pricing-table .plan-price .price-value {
	font-size: 38px;
	line-height: 40px;
	font-weight: 600;
	color: #444;
}

.pricing-table .plan-price .price-value span {
	font-size: 18px;
	font-weight: 300;
	line-height: 18px;
}

.pricing-table .plan-price .interval {
	line-height: 14px;
}

.pricing-table .plan-list li {
	padding: 8px;
	font-size: 12px;
	border-bottom: 1px solid #eee;
}

.pricing-table .plan-list li:first-child {
	border-top: 1px solid #eee;
}

.pricing-table .plan-signup {
	padding: 25px 0;
	box-shadow: 0 0 20px rgba(0,0,0,.06) inset;
	-o-box-shadow: 0 0 20px rgba(0,0,0,.06) inset;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.06) inset;
  	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.06) inset;
}

.pricing-table .plan-signup a {
	text-transform: uppercase;
}



/*************** Buttons ***************/

.btn {
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.btn-system {
	display: inline-block;
	color: #fff;
	margin-right: 5px;
	font-weight: 300;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
	text-shadow: 1px 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 4px 0 rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 4px 0 rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 4px 0 rgba(0,0,0,0.1) inset;
  	-webkit-box-shadow: 0 4px 0 rgba(0,0,0,0.1) inset;
}

.btn-system:last-child {
	margin-right: 0;
}

.btn-system {
	font-size: 1em;
	width: auto;
}

.btn-system.border-btn {
	background-color: transparent;
	border: 1px solid;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
  	-webkit-box-shadow: none;
}

.btn-system:hover {
	color: #fff;
	opacity: 0.8;
}

.btn-system.border-btn:hover {
	opacity: 1;
	color: #fff;
}

.btn-system.border-btn.btn-gray:hover {
	background-color: #444;
	color: #fff;
}

.btn-system.border-btn.btn-black:hover {
	background-color: #111;
	color: #fff;
}

.btn-system.border-btn.btn-wite:hover {
	background-color: #fff;
}

.btn-system.btn-gray {
	background-color: #444;
}

.btn-system.btn-black {
	background-color: #111;
}

.btn-system.btn-wite{
	background-color: #fff;
}

.btn-system.border-btn.btn-gray {
	background-color: transparent;
	border: 1px solid #444;
	color: #444;
}

.btn-system.border-btn.btn-black {
	background-color: transparent;
	border: 1px solid #111;
	color: #111;
}

.btn-system.border-btn.btn-wite {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}

.btn-large {
	font-size: 14px;
	padding: 9px 22px;
}

.btn-medium {
	font-size: 14px;
	padding: 7px 18px;
}

.btn-small {
	padding: 5px 15px;
}

.btn-mini {
	padding: 3px 12px;
}

.btn-large.border-btn {
	padding: 8px 22px;
}

.btn-medium.border-btn {
	padding: 6px 18px;
}

.btn-small.border-btn {
	padding: 4px 15px;
}

.btn-mini.border-btn {
	padding: 2px 12px;
}



/*************** Alerts ***************/

.alert {
}

.alert-success p {
	color: #468847;
}

.alert-info p {
	color: #3a87ad;
}

.alert-warning p {
	color: #c09853;
}

.alert-danger p {
	color: #a94442;
}

.alert h4 {
	margin-bottom: 10px;
}

.alert strong {
	font-weight: 700;
}



/*************** Pie Charts ***************/

.easyPieChart {
	font-size: 24px;
	font-weight: 400;
    position: relative;
    text-align: center;
	display: inline-block;
	margin: 0 80px 20px 0;
	overflow: hidden;
}

.easyPieChart:last-child {
	margin-right: 0;
}

.easyPieChart span {
	color: #888;
	line-height: 20px;
	font-size: 13px;
	font-weight: 700
}

.easyPieChart i {
	position: absolute;
	width: 100%;
	top: -2px;
	right: 0;
	display: block;
	font-size: 3.5em;
	color: rgba(0,0,0,.05);
	text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}



/*************** Lists ***************/

ul.icons-list {
	margin-bottom: 6px;
}

ul.icons-list li, ul.list-unstyled li {
	margin-bottom: 4px;
}

ul.icons-list li i {
	font-size: 14px;
	margin-right: 4px;
}



/*************** Tabs ***************/

.nav-tabs {
	border-color: #eee;
}

.nav-tabs > li > a {
	font-weight: 700;
	color: #444;
	padding: 8px 14px;
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
	border: 1px solid #eee;
	border-bottom: none;
	box-shadow: 0 0 15px rgba(0,0,0,.04) inset;
	-o-box-shadow: 0 0 15px rgba(0,0,0,.04) inset;
	-moz-box-shadow: 0 0 15px rgba(0,0,0,.04) inset;
  	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.04) inset;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.nav-tabs > li > a i {
	margin-right: 1px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	color: #fff;
	border-color: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,.1) inset;
	-o-box-shadow: 0 0 15px rgba(0,0,0,.1) inset;
	-moz-box-shadow: 0 0 15px rgba(0,0,0,.1) inset;
  	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.1) inset;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-color: #eee;
	border-bottom-color: #fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	box-shadow: 0 0 0 rgba(0,0,0,.1) inset;
	-o-box-shadow: 0 0 0 rgba(0,0,0,.1) inset;
	-moz-box-shadow: 0 0 0 rgba(0,0,0,.1) inset;
  	-webkit-box-shadow: 0 0 0 rgba(0,0,0,.1) inset;
}

.tab-content {
	border: 1px solid #eee;
	border-top: none;
	padding: 12px 16px;
}

.tab-content p {
	margin-bottom: 15px;
}

.tab-content p:last-child {
	margin-bottom: 0;
}



/*************** Icons ***************/

.icon-small {
	font-size: 2em;
	color: #444;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.icon-small:hover, .service-box:hover .icon-small {
	text-shadow: 5px 5px 2px rgba(255,255,255,0);
}

.icon-medium {
	font-size: 3em;
	color: #444;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.icon-medium:hover, .service-box:hover .icon-medium {
	text-shadow: 5px 5px 2px rgba(255,255,255,0);
}

.icon-large {
	font-size: 4em;
	color: #444;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.icon-large:hover, .service-box:hover .icon-large {
	text-shadow: 5px 5px 2px rgba(255,255,255,0);
}

.icon-mini-effect {
	position: relative;
	display: block;
	z-index: 1;
	font-size: 1.2em;
	color: #fff;
	top: 4px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	margin: 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.icon-medium-effect {
	position: relative;
	display: block;
	z-index: 1;
	font-size: 2em;
	color: #fff;
	width: 64px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	margin: 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.icon-large-effect {
	position: relative;
	display: block;
	z-index: 1;
	font-size: 2.6em;
	color: #fff;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	margin: 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.icon-mini-effect:after, .icon-medium-effect:after, .icon-large-effect:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/*First Icon Effect */
.icon-effect-1 {
	background-color: #fff;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	transition: color 0.4s;
}

.gray-icon.icon-effect-1 {
	box-shadow: 0 0 0 3px #444;
	-o-box-shadow: 0 0 0 3px #444;
	-moz-box-shadow: 0 0 0 3px #444;
  	-webkit-box-shadow: 0 0 0 3px #444;
}

.icon-effect-1:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.gray-icon.icon-effect-1:after {
	background: #444;
}

.icon-effect-1.gray-icon:hover, .service-box:hover .gray-icon.icon-effect-1 {
	color: #444;
}

.icon-effect-1:hover:after, .service-box:hover .icon-effect-1:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

/*Seconed Icon Effect */
.icon-effect-2 {
	background: #fff;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	transition: color 0.4s;
}

.gray-icon.icon-effect-2 {
	color: #444;
	box-shadow: 0 0 0 3px #444;
	-o-box-shadow: 0 0 0 3px #444;
	-moz-box-shadow: 0 0 0 3px #444;
  	-webkit-box-shadow: 0 0 0 3px #444;
}

.icon-effect-2:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.gray-icon.icon-effect-2:after {
	background: #444;
}

.icon-effect-2:hover, .service-box:hover .icon-effect-2, .icon-effect-2.gray-icon:hover, .service-box:hover .gray-icon.icon-effect-2 {
	color: #fff;
}

.icon-effect-2:hover:after, .service-box:hover .icon-effect-2:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/*Third Icon Effect */
.icon-effect-3 {
	background: #fff;
}

.gray-icon.icon-effect-3 {
	color: #444;
	box-shadow: 0 0 0 3px #444;
	-o-box-shadow: 0 0 0 3px #444;
	-moz-box-shadow: 0 0 0 3px #444;
  	-webkit-box-shadow: 0 0 0 3px #444;
}

.icon-effect-3:hover:before, .service-box:hover .icon-effect-3:before {
	-webkit-animation: toRightFromLeft 0.4s forwards;
	-moz-animation: toRightFromLeft 0.4s forwards;
	animation: toRightFromLeft 0.4s forwards;
}

@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toRightFromLeft {
	49% {
		-moz-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}

/*Fourth Icon Effect */
.icon-effect-4 {
	background: #fff;
}

.gray-icon.icon-effect-4 {
	color: #444;
	box-shadow: 0 0 0 3px #444;
	-o-box-shadow: 0 0 0 3px #444;
	-moz-box-shadow: 0 0 0 3px #444;
  	-webkit-box-shadow: 0 0 0 3px #444;
}

.icon-effect-4:hover:before, .service-box:hover .icon-effect-4:before {
	-webkit-animation: toLeftFromRight 0.4s forwards;
	-moz-animation: toLeftFromRight 0.4s forwards;
	animation: toLeftFromRight 0.4s forwards;
}

@-webkit-keyframes toLeftFromRight {
	49% {
		-webkit-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toLeftFromRight {
	49% {
		-moz-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toLeftFromRight {
	49% {
		transform: translate(-100%);
	}
	50% {
		opacity: 0;
		transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}

/*Fifth Icon Effect */
.icon-effect-5 {
	background: #fff;
}

.gray-icon.icon-effect-5 {
	color: #444;
	box-shadow: 0 0 0 3px #444;
	-o-box-shadow: 0 0 0 3px #444;
	-moz-box-shadow: 0 0 0 3px #444;
  	-webkit-box-shadow: 0 0 0 3px #444;
}

.icon-effect-5:hover:before, .service-box:hover .icon-effect-5:before {
	-webkit-animation: toTopFromBottom 0.4s forwards;
	-moz-animation: toTopFromBottom 0.4s forwards;
	animation: toTopFromBottom 0.4s forwards;
}

@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toTopFromBottom {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}

/*six Icon Effect */
.icon-effect-6 {
	background: #fff;
}

.gray-icon.icon-effect-6 {
	color: #444;
	box-shadow: 0 0 0 3px #444;
	-o-box-shadow: 0 0 0 3px #444;
	-moz-box-shadow: 0 0 0 3px #444;
  	-webkit-box-shadow: 0 0 0 3px #444;
}

.icon-effect-6:hover:before, .service-box:hover .icon-effect-6:before {
	-webkit-animation: toBottomFromTop 0.4s forwards;
	-moz-animation: toBottomFromTop 0.4s forwards;
	animation: toBottomFromTop 0.4s forwards;
}

@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toBottomFromTop {
	49% {
		-moz-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}



/*************** Service Box ***************/

.service-box .read-more {
	margin-top: 4px;
	font-weight: 500;
	margin-left: 2px;
}

.service-box .read-more i {
	display: inline-block;
	position: relative;
	top: 1px;
}

.image-service-box img {
	margin-bottom: 14px;
}

.image-service-box h4 {
	margin-bottom: 8px;
	padding: 0 10px;
}

.image-service-box p {
	padding: 0 10px;
}

.service-box {
	margin-bottom: 35px;
}

.service-center {
	text-align: center;
}

.service-icon-left .service-icon {
	float: left;
}

.service-icon-left .service-content {
	padding-left: 45px;
}

.service-icon-left-more .service-icon {
	float: left;
}

.service-icon-left-more .service-content {
	padding-left: 60px;
}

.service-center .service-icon {
	margin-bottom: 14px;
}

.service-center .service-content h4 {
	margin-bottom: 6px;
}

.service-center .service-icon i {
	display: inline-block;
}

.service-box h4 {
	margin-bottom: 5px;
}

.service-box > div:first-child {
	padding: 0;
}

.service-boxed {
	margin-top: 30px;
	padding: 0 15px 20px 15px !important;
	border: 1px solid #eee;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.service-boxed:hover {
	border-color: #e2e2e2;
	box-shadow: 0 0 6px rgba(0,0,0,.1);
	-o-box-shadow: 0 0 6px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
  	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.service-boxed p {
    margin-bottom: 0;
}



/*************** Testimonials ***************/

.testimonials {
	padding-top: 8px;
	text-align: center;
	position: relative;
}

.testimonials:after {
	font-family: "fontello";
	content: '\eb5f';
	font-size: 6em;
	line-height: 70px;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -32px;
	color: rgba(255,255,255,.06);
}

.testimonials .testimonial-content p {
	font-family: 'Lora', serif;
	font-size: 24px;
	line-height: 36px;
	font-style: italic;
	font-weight: 400;
	color: #444;
}

.testimonials .testimonial-content {
	position: relative;
}

.testimonials .testimonial-content p::before {
	content: open-quote;
	margin-right: 6px;
}

.testimonials .testimonial-content p::after {
	content: close-quote;
	margin-left: 6px;
}

.testimonials .testimonial-author {
	padding: 8px;
	margin-bottom: 10px;
}

.classic-testimonials .testimonial-content {
	position: relative;
	padding: 14px 18px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	margin-bottom: 10px;
	border: 1px solid #e8e8e8;
	box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
	-o-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
  	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
}

.classic-testimonials .testimonial-content:before {
	content: "\201C";
	font-weight: 300;
	position: absolute;
	font-size: 30px;
	opacity: 0.5;
	top: 8px;
	left: 6px;
}

.classic-testimonials .testimonial-content:after {
	font-family: "fontello";
	content: '\eba4';
	font-size: 2em;
	height: 8px;
	line-height: 0;
	display: block;
	position: absolute;
	bottom: -8px;
	left: 33px;
	color: #fff;
	text-shadow: 0 2px 0 #eee;
}

.classic-testimonials .testimonial-author {
	margin-left: 10px;
}

.classic-testimonials .testimonial-author span {
	font-weight: 600;
}



/*************** Team Members ***************/

.team-member {
	padding: 3px;
	position: relative;
}

.team-member .member-photo {
	padding: 3px;
	border: 1px solid #eee;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	position: relative;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.team-member .member-photo .member-name {
	position: absolute;
	bottom: 12px;
	right: 10px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 5px 14px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	background-color: #444;
	z-index: 9994;
}

.team-member .member-photo .member-name span {
	position: absolute;
	top: 90%;
	right: 0;
	color: #fff;
	font-size: 13px;
	font-weight: 300;
	padding: 1px 10px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.team-member .member-info {
	padding: 15px 6px 12px 6px;
}

.team-member .member-socail {
	text-align: center;
}

.team-member .member-socail a i {
	color: #fff;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	display: inline-block;
	background-color: #d2d2d2;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.team-member .member-socail a.facebook:hover i {
	background-color: #507CBE;
}

.team-member .member-socail a.twitter:hover i {
	background-color: #63CDF1;
}

.team-member .member-socail a.gplus:hover i {
	background-color: #F16261;
}

.team-member .member-socail a.dribbble:hover i {
	background-color: #E46387;
}

.team-member .member-socail a.linkedin:hover i {
	background-color: #90CADD;
}

.team-member .member-socail a.flickr:hover i {
	background-color: #E474AF;
}

.team-member .member-socail a.instagramm:hover i {
	background-color: #4D4F54;
}

.team-member.modern .member-info {
	padding: 14px 0;
}

.team-member.modern .member-photo {
	position: relative;
	padding: 0px;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.team-member.modern .member-photo:after {
	content: "";
	display: block;
	width: 100%;
	height: calc(100% + 1px);
	opacity: 0;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
	top: 5%;
	left: 0;
	z-index: 9993;
	background-color: #fff;
	transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.team-member.modern:hover .member-photo:after {
	top: 10%;
	opacity: 0.2;
	width: 80%;
	height: calc(80% + 1px);
	left: 10%;
}

.team-member.modern .progress {
	height: 6px;
	border-width: 2px;
	margin-bottom: 6px;
}

.team-member.modern .progress-label {
	font-size: 11px;
	line-height: 16px;
}

.team-member.modern .progress span {
	display: none;
}

.team-member.modern .member-socail {
	margin-top: 15px;
}

.team-member.modern .member-socail a i {
	background-color: transparent;
	color: #aaa;
}

.team-member.modern .member-socail a:hover i {
	color: #fff;
}



/*************** Heading Titles ***************/

.classic-title {
	margin-bottom: 16px;
	padding-bottom: 8px;
	border-bottom: 1px solid #eee;
}

.classic-title span {
	padding-bottom: 8px;
	border-bottom: 1px solid;
}

.big-title {
	margin-bottom: 20px;
}

.big-title h1, .big-title h2 {
	font-size: 26px;
	line-height: 32px;
	font-weight: 400;
}

.big-title h1 strong, .big-title h2 strong {
	font-weight: 800;
}

.big-title .title-desc {
	font-size: 16px;
	line-height: 22px;
	color: #888;
}

.big-title h2 + .title-desc, .big-title h1 + .title-desc {
	margin-top: 4px;
}






/*------------------------------------------*/
/*	        06 - Portfolio Styles
/*------------------------------------------*/

.portfolio-filter {
	margin-bottom: 30px;
}

.portfolio-filter li {
	display: inline-block;
	margin-right: 2px;
}

.portfolio-filter li a {
	color: #888;
	display: inline-block;
	padding: 5px 14px;
	border: 1px solid #eee;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.portfolio-filter li a:hover {
	border-color: #ddd;
}

.portfolio-filter li a.selected, .portfolio-filter li a.selected:hover {
	color: #fff;
}

.portfolio-item {
	margin-bottom: 30px;
}

.portfolio-4 {
	margin-left: 5px;
}

.portfolio-4 .portfolio-item {
	width: 24.99%!important;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 22px;
}

.portfolio-item .portfolio-border {
	padding: 3px;
	border: 1px solid #eee;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.portfolio-item:hover .portfolio-border {
	box-shadow: 0 1px 3px #f8f8f8;
	-o-box-shadow: 0 1px 3px #f8f8f8;
	-moz-box-shadow: 0 1px 3px #f8f8f8;
  	-webkit-box-shadow: 0 1px 3px #f8f8f8;
}

.portfolio-item .portfolio-thumb {
	position: relative;
	overflow: hidden;
}

.portfolio-item .portfolio-thumb .thumb-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0);
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.portfolio-item:hover .portfolio-thumb .thumb-overlay {
	background: rgba(255,255,255,0.5);
}

.portfolio-item .portfolio-thumb .thumb-overlay i {
	color: rgba(255,255,255,0);
	position: absolute;
	top: 42%;
	left: 50%;
	display: block;
	margin-left: -27px;
	margin-top: -19px;
	font-size: 3em;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.portfolio-item:hover .portfolio-thumb .thumb-overlay i {
	top: 50%;
	color: #444;
}

.portfolio-item .portfolio-details {
	position: relative;
	padding: 9px 12px 6px 12px;
}

.portfolio-item .portfolio-details .like-link {
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -9px;
}

.portfolio-item .portfolio-details .like-link i, .portfolio-item .portfolio-details .like-link span {
	color: #aaa;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.portfolio-item .portfolio-details .like-link:hover i, .portfolio-item .portfolio-details .like-link:hover span {
	color: #F54B5C;
}

.portfolio-item .portfolio-details h4 {
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.portfolio-item .portfolio-details a span {
	color: #888;
}

.portfolio-item .portfolio-details span:after {
	content: ", ";
	margin-right: 2px;
}

.portfolio-item .portfolio-details span:last-child:after {
	content: "";
}


/*---- Isotope filtering ----*/
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {/* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:-moz-transform, opacity;
    transition-property:transform, opacity;
}






/*------------------------------------------*/
/*		  07 - Single Project Styles
/*------------------------------------------*/

.project-page {
	margin-bottom: 50px;
}

.project-slider {
	position: relative;
}

.project-slider img {
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

.project-slider .thumb-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
	background-color: rgba(0,0,0,0);
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

.project-slider:hover .thumb-overlay {
	background: rgba(255,255,255,0.5);
}

.project-slider .thumb-overlay i {
	font-size: 3em;
	color: rgba(0,0,0,0);
	position: absolute;
	left: 50%;
	top: 42%;
	margin-left: -27px;
	margin-top: -19px;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

.project-slider:hover .thumb-overlay i {
	top: 50%;
	color: #444;
}

.project-content h4 {
	margin-bottom: 12px;
	padding-bottom: 8px;
	border-bottom: 1px solid #eee;
}

.project-content h4 span {
	padding-bottom: 8px;
	border-bottom: 1px solid;
}

.project-content p, .project-content ul {
	margin-bottom: 30px;
}

.project-content ul li {
	margin-bottom: 5px;
}


.recent-projects h4.title {
	margin-bottom: 16px;
	padding-bottom: 8px;
	border-bottom: 1px solid #eee;
}

.recent-projects h4.title span {
	padding-bottom: 8px;
	border-bottom: 1px solid;
}

.projects-carousel {
	width: 1150px !important;
}

.projects-carousel .item {
	margin-right: 15px;
	margin-bottom: 0;
}

.full-width-recent-projects .projects-carousel {
	width: 100% !important;
}

.full-width-recent-projects .projects-carousel .item {
	margin: 0;
}

.full-width-recent-projects .portfolio-item .portfolio-border {
	padding: 0;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

.full-width-recent-projects .portfolio-item:hover .portfolio-thumb .thumb-overlay {
	opacity: 0.65;
	z-index: 9994;
}

.full-width-recent-projects .portfolio-item .portfolio-thumb .thumb-overlay i {
	top: 25%;
}

.full-width-recent-projects .portfolio-item:hover .portfolio-thumb .thumb-overlay i {
	color: #fff;
	top: 45%;
}

.full-width-recent-projects .portfolio-item .portfolio-details {
	position: absolute;
	bottom: -10px;
	opacity: 0;
	width: 100%;
	z-index: 9995;
	padding: 0 20px;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

.full-width-recent-projects .portfolio-item:hover .portfolio-details {
	bottom: 10px;
	opacity: 1;
}

.full-width-recent-projects .portfolio-item:hover .portfolio-details h4 {
	color: rgba(255,255,255,.9);
}

.full-width-recent-projects .portfolio-item .portfolio-details a span {
	color: rgba(255,255,255,.8);
}

.full-width-recent-projects .portfolio-item .portfolio-details .like-link i, .full-width-recent-projects .portfolio-item .portfolio-details .like-link span {
	color: #fff;
}






/*------------------------------------------*/
/*			   08 - Blog Styles
/*------------------------------------------*/

.blog-post {
    margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #eee;
}

.blog-post .post-head {
	overflow: hidden;
	position: relative;
	margin-bottom: 16px;
}

.blog-post .post-head .thumb-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
	background-color: rgba(0,0,0,0);
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.blog-post .post-head:hover .thumb-overlay {
	background-color: rgba(255,255,255,0.4);
}

.blog-post .post-head .thumb-overlay i {
	font-size: 3em;
	color: rgba(0,0,0,0);
	position: absolute;
	left: 50%;
	top: 42%;
	margin-left: -27px;
	margin-top: -19px;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.blog-post .post-head:hover .thumb-overlay i {
	color: #444;
	top: 50%;
}

.blog-post .post-head img {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

.blog-post .post-content {
	padding-left: 54px;
	position: relative;
}

.blog-post .post-type {
	position: absolute;
	left: 0;
	top: 5px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background-color: #444;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.blog-post .post-type i {
	font-size: 1.2em;
	color: #fff;
}

.blog-post.quote-post .post-type {
	top: 0;
}

.post-content h2 {
	margin-bottom: 4px;
}

.post-content h2 a {
	color: #444;
	font-weight: 500;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.blog-post.quote-post .qoute-box {
	background: #444;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	padding: 20px 25px;
	color: #fff;
	margin-bottom: 10px;
}

.blog-post.quote-post .qoute-box a {
	color: #999;
}

.blog-post.quote-post .qoute-box h2 {
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 26px;
	font-style: italic;
	font-weight: 400;
	color: #fff;
	margin-bottom: 10px;
}

.blog-post.quote-post .qoute-box .qoute-author {
	margin-left: 5px;
}

.blog-post.quote-post .qoute-box .qoute-author:before, .blog-post.quote-post .qoute-box .qoute-author:after {
	content: " - "
}

.blog-post .post-slider {
	position: relative;
}

ul.post-meta {
	margin-bottom: 10px;
}

ul.post-meta li {
	display: inline-block;
}

ul.post-meta li:after {
	content: "-";
	margin: 0 8px 0 8px;
}

ul.post-meta li:last-child:after {
	content: "";
	margin: 0;
}

ul.post-meta li, ul.post-meta li a {
	color: #666;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.post-content p {
    margin-bottom: 15px;
}

/*Pagination*/
#pagination span, #pagination a {
	display: inline-block;
	text-align: center;
	height: 34px;
	width: 34px;
	color: #888;
	line-height: 33px;
	border: 1px solid #eee;
	border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#pagination span.current {
	color: #fff;
}

#pagination a:hover {
	border-color: #ddd;
}

#pagination .all-pages, #pagination .next-page {
	width: auto;
	padding: 0 14px;
}






/*------------------------------------------*/
/*		    09 - Single post Styles
/*------------------------------------------*/

.blog-page, .blog-post-page {
	padding-top: 5px;
}

.blog-post-page .blog-post {
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.blog-post-page ul.post-meta {
	margin-bottom: 12px;
}

.post-content h2 {
	font-weight: 500;
}

.post-bottom {
	padding: 20px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #f6f6f6;
}

.post-tags-list {
	float: right;
	padding-top: 6px;
}

.post-tags-list a {
	display: inline-block;
	color: #888;
	font-size: 12px;
	padding: 2px 8px;
	background: #eee;
	margin-bottom: 4px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.post-tags-list a:hover {
	color: #fff;
}

.post-share {
	float: left;
}

.post-share span {
	margin-right: 4px;
	font-size: 13px;
	color: #888;
}

.post-share a {
	display: inline-block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.post-share a.facebook {
	background-color: #507CBE;
}

.post-share a.facebook:hover {
	background-color: #3E68A8;
}

.post-share a.twitter {
	background-color: #63CDF1;
}

.post-share a.twitter:hover {
	background-color: #36BFED;
}

.post-share a.gplus {
	background-color: #F16261;
}

.post-share a.gplus:hover {
	background-color: #EF4545;
}

.post-share a.linkedin {
	background-color: #90CADD;
}

.post-share a.linkedin:hover {
	background-color: #72BBD3;
}

.post-share a i {
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	display: block;
	color: #fff;
	font-size: 1em;
}

.blog-post .author-info {
	display: block;
	margin-bottom: 10px;
}

.blog-post .author-info .author-image {
	float: left;
}

.blog-post .author-info .author-image img {
	width: 70px;
	height: 70px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	border: 4px solid #eee;
}

.blog-post .author-info .author-bio {
	padding-left: 85px;
}

.blog-post .author-info h4 {
	margin-bottom: 4px;
}

.blog-post .author-info p:last-child {
	margin: 0;
}

#comments .comments-list {
	padding: 0;
	margin: 0 0 35px 0;
}

#comments .comments-title {
	font-weight: 500;
	margin-bottom: 20px;
}

#comments .comments-list li .comment-box {
	padding: 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	margin-bottom: 20px;
	border: 1px solid #e8e8e8;
	box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
	-o-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
  	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
}

#comments .comments-list li ul {
	padding-left: 80px;
}

#comments .avatar {
	float: left;
}

#comments .avatar img {
	width: 60px;
	height: 60px;
	padding: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	border: 1px solid #e8e8e8;
}

#comments .comment-content {
	padding-left: 72px;
}

#comments .comment-content .comment-meta {
	margin-bottom: 5px;
}

.comment-content .comment-meta span:after {
	content: "-";
	margin: 0 5px;
	font-weight: 100;
	color: #888;
}

.comment-content .comment-meta span:last-child:after {
	content: "";
	margin: 0;
}

.comment-content .comment-meta .comment-by {
	font-weight: 700;
	color: #444;
}

.comment-content .comment-meta .comment-date {
	color: #888;
}

#respond .respond-title {
	font-weight: 500;
	margin-bottom: 15px;
}






/*------------------------------------------*/
/*			10 - SideBar Styles
/*------------------------------------------*/

.sidebar {
    margin-bottom: 30px;
}

.sidebar a {
	color: #888;
}

.sidebar .widget {
    overflow: hidden;
    margin-bottom: 50px;
}

.sidebar .widget ul {
	margin: 0;
}

.widget-search input[type="search"] {
    position: relative;
	margin: 0;
	float: left;
	width: calc(100% - 38px);
	border-right: none;
	border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
}

.widget-search .search-btn {
	display: inline-block;
	width: 38px;
	height: 37px;
	border: none;
	color: #fff;
	font-size: 1.2em;
	line-height: 36px;
	text-align: center;
	border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.widget-search .search-btn:hover {
	background-color: #444;
}

.sidebar .widget h4 {
	text-transform: uppercase;
	padding-bottom: 8px;
    margin-bottom: 16px;
	font-size: 14px;
	font-weight: 700;
	position: relative;
}

.sidebar .widget h4 .head-line {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 50px;
	height: 3px;
	background-color: #ddd;
	margin: 0;
}

.widget-categories ul li a {
	padding: 8px 0;
    text-decoration: none;
    display: block;
	border-bottom: 1px solid #eee;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.widget-categories ul li:first-child a {
	padding-top: 0;
}

.widget-categories ul li a:hover {
	padding-left: 8px;
}

.sidebar .widget-popular-posts li {
	margin-bottom: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #eee;
}

.sidebar .widget-popular-posts li:last-child {
	margin: 0;
	padding: 0;
	border: none;
}

.sidebar .widget-popular-posts .widget-thumb {
	float: left;
	margin-right: 8px;
	border: 3px solid #eee;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.sidebar .widget-popular-posts .widget-thumb img {
	width: 65px;
	height: 65px;
	opacity: 1;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.sidebar .widget-popular-posts .widget-thumb:hover img {
	opacity: 0.7;
}

.sidebar .widget-popular-posts .widget-content h5 {
	font-size: 13px;
	line-height: 19px;
	margin-bottom: 5px;
	font-weight: 300;
}

.sidebar .widget-popular-posts .widget-content span {
	color: #bbb;
	font-size: 12px;
}

.sidebar .tagcloud a {
    display: inline-block;
    color: #888;
    font-size: 12px;
    padding: 4px 10px;
    background: #eee;
	margin-bottom: 4px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.sidebar .tagcloud a:hover {
    color: #fff;
}






/*------------------------------------------*/
/*			 11 - Footer Styles
/*------------------------------------------*/

footer {
	background-color: #222;
   /* padding-top: 60px;*/
	border-top: 4px solid #555;
	color: #ccc;
}

footer p {
	color: #ccc;
}

footer a {
	color: #aaa;
}

footer a:hover {
	color: #aaa;
	text-decoration: underline;
}

.footer-widget {
    margin-bottom: 45px;
}

.footer-widget h4 {
	color: #eee;
	text-transform: uppercase;
	padding-bottom: 8px;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 700;
	position: relative;
}

.footer-widget h4 .head-line {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 50px;
	height: 3px;
	background-color: #333;
	margin: 0;
}

.social-widget ul.social-icons li {
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 4px;
}

.social-widget ul.social-icons li a i {
	font-size: 1.4em;
	width: 36px;
	height: 36px;
	color: #fff;
	line-height: 36px;
	text-align: center;
	display: block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.social-widget ul.social-icons li a.facebook:hover i {
	background-color: #507CBE;
}

.social-widget ul.social-icons li a.twitter:hover i {
	background-color: #63CDF1;
}

.social-widget ul.social-icons li a.google:hover i {
	background-color: #F16261;
}

.social-widget ul.social-icons li a.dribbble:hover i {
	background-color: #E46387;
}

.social-widget ul.social-icons li a.linkdin:hover i {
	background-color: #90CADD;
}

.social-widget ul.social-icons li a.tumblr:hover i {
	background-color: #4D7EA3;
}

.social-widget ul.social-icons li a.flickr:hover i {
	background-color: #E474AF;
}

.social-widget ul.social-icons li a.instgram:hover i {
	background-color: #4D4F54;
}

.social-widget ul.social-icons li a.vimeo:hover i {
	background-color: #87D3E0;
}

.social-widget ul.social-icons li a.skype:hover i {
	background-color: #36C4F3
}

.contact-widget {
	background: url(../images/map.png) center bottom no-repeat;
}

.contact-widget span {
	font-weight: 700;
}

.contact-widget ul li {
    margin-bottom: 12px;
}

.contact-widget ul li p a {
    color: #bbb;
}

.twitter-widget a {
	color: #43B9CD;
}

.twitter-widget a:hover {
	color: #43B9CD;
	text-decoration: underline;
}

.twitter-widget ul li {
    margin-bottom: 20px;
}

.twitter-widget ul li span {
	color: #888;
}

.flickr-widget ul {
    overflow: hidden;
}

.flickr-widget ul li {
    float: left;
    margin-left: 8px;
    margin-bottom: 8px;
}

.flickr-widget ul li:nth-child(3n+1) {
    margin-left: 0;
}

.flickr-widget ul li a {
    display: inline-block;
	width: 80px;
	opacity: 0.6;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	border: 4px solid #333;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.flickr-widget ul li a img {
    width: 100%;
	height: 65px;
}

.flickr-widget ul li a:hover {
	opacity: 1;
}

.mail-subscribe-widget form {
    margin-top: 15px;
    margin-bottom: 20px;
}

.mail-subscribe-widget form input[type="text"] {
    outline: none;
    color: #888;
    font-size: 12px;
    padding: 6px 12px;
	border: none;
    background: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    outline: none;
}

.copyright-section {
    padding: 15px 0;
	font-size: 11px;
	letter-spacing: 0.5px;
    border-top: 1px solid rgba(255,255,255,.06);
}

.copyright-section p {
	font-size: 11px;
	text-transform: uppercase;
}

ul.footer-nav {
    float: right;
}

ul.footer-nav li {
    display: inline-block;
    float: left;
    margin-left: 15px;
}

ul.footer-nav li:first-child {
    margin-left: 0;
}

ul.footer-nav li a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.footer-nav li a:hover {
	color: #fff;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
}

.back-to-top i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-align: center;
    background-color: #444;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}






/*------------------------------------------*/
/*			 12 - Plugins Styles
/*------------------------------------------*/


/*
 * Nivo Lightbox v1.0
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
.nivo-lightbox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999;
	width: 100%;
	height: 100%;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nivo-lightbox-overlay.nivo-lightbox-open { 
	visibility: visible;
	opacity: 1;
}
.nivo-lightbox-wrap  {
	position: absolute;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
}
.nivo-lightbox-content {
	width: 100%;
	height: 100%;
}
.nivo-lightbox-title-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
	text-align: center;
}
.nivo-lightbox-nav { display: none; }
.nivo-lightbox-prev {
	position: absolute;
	top: 50%;
	left: 0;
}
.nivo-lightbox-next {
	position: absolute;
	top: 50%;
	right: 0;
}
.nivo-lightbox-close {
	position: absolute;
	top: 2%;
	right: 2%;
}

.nivo-lightbox-image { text-align: center; }
.nivo-lightbox-image img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	vertical-align: middle;
}
.nivo-lightbox-content iframe {
	width: 100%;
	height: 100%;
}
.nivo-lightbox-ajax { 
	max-height: 100%;
	overflow: auto; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* https://bugzilla.mozilla.org/show_bug.cgi?id=308801 */
}
.nivo-lightbox-error {
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #fff;
	text-shadow: 0 1px 1px #000;
}
.nivo-lightbox-error p {
	display: table-cell;
	vertical-align: middle;
}

/* Effects 
 **********************************************/
.nivo-lightbox-effect-fade,
.nivo-lightbox-effect-fadeScale,
.nivo-lightbox-effect-slideLeft,
.nivo-lightbox-effect-slideRight,
.nivo-lightbox-effect-slideUp,
.nivo-lightbox-effect-slideDown,
.nivo-lightbox-effect-fall {
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}

/* fadeScale */
.nivo-lightbox-effect-fadeScale .nivo-lightbox-wrap {
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	-webkit-transform: scale(0.7);
	   -moz-transform: scale(0.7);
	    -ms-transform: scale(0.7);
	        transform: scale(0.7);
}
.nivo-lightbox-effect-fadeScale.nivo-lightbox-open .nivo-lightbox-wrap {
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

/* slideLeft / slideRight / slideUp / slideDown */
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	   -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	    -ms-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	     -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	        transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap {
	-webkit-transform: translateX(-10%);
	   -moz-transform: translateX(-10%);
	    -ms-transform: translateX(-10%);
	        transform: translateX(-10%);
}
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap {
	-webkit-transform: translateX(10%);
	   -moz-transform: translateX(10%);
	    -ms-transform: translateX(10%);
	        transform: translateX(10%);
}
.nivo-lightbox-effect-slideLeft.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight.nivo-lightbox-open .nivo-lightbox-wrap {
	-webkit-transform: translateX(0);
	   -moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
	-webkit-transform: translateY(-10%);
	   -moz-transform: translateY(-10%);
	    -ms-transform: translateY(-10%);
	        transform: translateY(-10%);
}
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap {
	-webkit-transform: translateY(10%);
	   -moz-transform: translateY(10%);
	    -ms-transform: translateY(10%);
	        transform: translateY(10%);
}
.nivo-lightbox-effect-slideUp.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown.nivo-lightbox-open .nivo-lightbox-wrap {
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}

/* fall */
.nivo-lightbox-body-effect-fall .nivo-lightbox-effect-fall {
	-webkit-perspective: 1000px;
	   -moz-perspective: 1000px;
	        perspective: 1000px;
}
.nivo-lightbox-effect-fall .nivo-lightbox-wrap {
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
	-webkit-transform: translateZ(300px);
	   -moz-transform: translateZ(300px);
	    -ms-transform: translateZ(300px);
	        transform: translateZ(300px);
}
.nivo-lightbox-effect-fall.nivo-lightbox-open .nivo-lightbox-wrap {
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
	    -ms-transform: translateZ(0);
	        transform: translateZ(0);
}

/*
 * Nivo Lightbox Default Theme v1.0
 * http://dev7studios.com/nivo-lightbox
 */
 
.nivo-lightbox-theme-default.nivo-lightbox-overlay { 
	background: #666;
	background: rgba(0,0,0,0.8); 
}
.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading { background: url(../images/lightbox/loading.gif) no-repeat 50% 50%; }

.nivo-lightbox-theme-default .nivo-lightbox-nav {
	top: 10%;
	width: 8%;
	height: 80%;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0.5;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.nivo-lightbox-theme-default .nivo-lightbox-nav:hover { 
	opacity: 1; 
	background-color: rgba(0,0,0,0.5);
}
.nivo-lightbox-theme-default .nivo-lightbox-prev { 
	background-image: url(../images/lightbox/prev.png); 
	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
}
.nivo-lightbox-theme-default .nivo-lightbox-next { 
	background-image: url(../images/lightbox/next.png); 
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;

}

.nivo-lightbox-theme-default .nivo-lightbox-close {
	display: block;
	background: url(../images/lightbox/close.png) no-repeat 5px 5px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	padding: 5px;
	opacity: 0.5;
}
.nivo-lightbox-theme-default .nivo-lightbox-close:hover { opacity: 1; }

.nivo-lightbox-theme-default .nivo-lightbox-title-wrap { bottom: -7%; }
.nivo-lightbox-theme-default .nivo-lightbox-title {
	font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	background: #000;
	color: #fff;
	padding: 7px 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.nivo-lightbox-theme-default .nivo-lightbox-image img {
	background: #fff;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.nivo-lightbox-theme-default .nivo-lightbox-ajax,
.nivo-lightbox-theme-default .nivo-lightbox-inline {
	background: #fff;
	padding: 40px;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

@media (-webkit-min-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (min--moz-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3),
       (min-resolution: 1.3dppx) {

	.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading { 
		background-image: url(../images/lightbox/loading@2x.gif); 
		background-size: 32px 32px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-prev { 
		background-image: url(../images/lightbox/prev@2x.png); 
		background-size: 48px 48px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-next { 
		background-image: url(../images/lightbox/next@2x.png); 
		background-size: 48px 48px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-close { 
		background-image: url(../images/lightbox/close@2x.png); 
		background-size: 16px 16px;
	}
	
}







/* 
 * 	Core Owl Carousel CSS
 *	v1.24
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(../images/icons/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* CSS3 Transitions */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}

/*
* 	Owl Carousel Owl Theme 
*/

.owl-theme .owl-controls{
	text-align: center;
}

/* Styling Next and Prev buttons */

.touch-slider .owl-controls .owl-buttons div{
	position: absolute;
	top: 50%;
	height: 60px;
	line-height: 60px;
	display: inline-block;
	zoom: 1;
	padding: 0 1px;
	*display: inline;/*IE7 life-saver */
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
	background: #444;
	filter: Alpha(Opacity=60);/*IE7 fix*/
	opacity: 0.6;
	margin-top: -30px;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.touch-slider:hover .owl-controls .owl-buttons div{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

.touch-slider .owl-controls .owl-buttons div.owl-prev{
	left: 0;
	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
}

.touch-slider .owl-controls .owl-buttons div.owl-next{
	right: 0;
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
}

.touch-slider .owl-controls .owl-buttons div i{
	font-size: 1.8em;
	color: #fff;
}


.touch-carousel .owl-controls .owl-buttons {
	position: absolute;
	top: -50px;
	right: 2px;
}

.touch-carousel.projects-carousel .owl-controls .owl-buttons {
	right: 12px;
}

.touch-carousel.navigation-2 .owl-controls .owl-buttons {
	position: relative;
	top: 0;
	right: 0;
}

.touch-carousel.navigation-2.clients-carousel .owl-controls .owl-buttons {
	top: -8px;
}

.touch-carousel.navigation-2 .owl-controls .owl-buttons div, .touch-carousel.navigation-3 .owl-controls .owl-buttons div{
	background-color: #f2f2f2;
}

.touch-carousel.navigation-2 .owl-controls .owl-buttons div i, .touch-carousel.navigation-3 .owl-controls .owl-buttons div i{
	color: #666;
}

.touch-carousel.navigation-3 {
	padding-top: 45px;
}

.touch-carousel.navigation-3.clients-carousel {
	padding-top: 25px;
}

.touch-carousel.navigation-3 .owl-controls .owl-buttons {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

.touch-carousel.navigation-2 .owl-controls .owl-buttons div, .touch-carousel.navigation-3 .owl-controls .owl-buttons div {
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

.touch-carousel.navigation-3.projects-carousel .owl-controls .owl-buttons {
	right: 9px;
}

.touch-carousel .owl-controls .owl-buttons div, .testimonials-carousel .owl-controls .owl-buttons div {
	height: 22px;
	width: 22px;
	line-height: 22px;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	background-color: #fff;
	margin-left: 4px;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.touch-carousel .owl-controls .owl-buttons div i, .testimonials-carousel .owl-controls .owl-buttons div i {
	font-size: 1.2em;
	color: #ccc;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.testimonials-carousel .owl-controls .owl-buttons div i {
	color: #fff;
}

.touch-carousel .owl-controls.clickable .owl-buttons div:hover i {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.testimonials-carousel .owl-controls.clickable .owl-buttons div:hover {
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}


/* Styling Pagination*/

.owl-pagination {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 5px;
}

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 16px;
	height: 16px;
	margin: 2px 4px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid #444;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.touch-slider:hover .owl-controls .owl-page span {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	border-color: #FF0000;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}

#bar{
	width: 0%;
	max-width: 100%;
	height: 4px;
	background: #444;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
#progressBar{
	position: absolute;
	top: 0;
	z-index: 99;
	width: 100%;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../images/icons/ajaxloader.gif) no-repeat center center
}









/******* Style Switcher *******/
.switcher-box {
	width: 212px;
	position: fixed;
	left: -212px;
	top: 160px;
	text-align: center;
	z-index: 99999999999;
	background-color: #fff;
	border-radius: 0 0 2px 0;
	border-radius: 0 5px 5px 0;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.switcher-box h4 {
	display: block;
	height: 40px;
	line-height: 42px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	background-color: #333;
	margin-bottom: 10px;
}
.switcher-box span {
	display: block;
	padding: 5px 20px;
	text-align: left;
}
.switcher-box .colors-list {
	padding: 0 18px 0 18px;
	margin-bottom: 8px;
	line-height: 20px;
}
.switcher-box .colors-list li {
	display: inline-block;
	margin-right: 2px;
}
.switcher-box .colors-list li a {
	display: block;
	width: 24px;
	height: 18px;
	cursor: pointer;
}
.switcher-box .colors-list li a.blue {
	background-color: #0a9fd8;
}
.switcher-box .colors-list li a.cyan {
	background-color: #27bebe;
}
.switcher-box .colors-list li a.jade {
	background-color: #0bb586;
}
.switcher-box .colors-list li a.red {
	background-color: #ee3733;
}
.switcher-box .colors-list li a.peach {
	background-color: #f49237;
}
.switcher-box .colors-list li a.sky-blue {
	background-color: #38cbcb;
}
.switcher-box .colors-list li a.yellow {
	background-color: #f8ba01;
}
.switcher-box .colors-list li a.green {
	background-color: #94c523;
}
.switcher-box .colors-list li a.orange {
	background-color: #f36510;
}
.switcher-box .colors-list li a.pink {
	background-color: #f1505b;
}
.switcher-box .colors-list li a.purple {
	background-color: #6a3da3;
}
.switcher-box .colors-list li a.beige {
	background-color: #fdb655;
}
.switcher-box .layout-style, .switcher-box .topbar-style {
	width: 172px;
	padding: 6px 9px;
	outline: none;
	display: block;
	background: #fff;
	border-radius: 3px;
	padding: 4px 6px;
	color: #888;
	cursor: pointer;
	border-radius: 2px;
	font-size: 12px;
	margin: 0 0 12px 20px;
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.06);
	box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.06);
}
.switcher-box .bg-list {
	padding: 0 18px 0 18px;
	margin-bottom: 18px;
}
.switcher-box .bg-list li {
	display: inline-block;
	margin-right: 2px;
}
.switcher-box .bg-list li a {
	display: block;
	width: 20px;
	height: 20px;
}


.switcher-box .open-switcher {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	top: 0;
	left: 100%;
	border-radius: 0 2px 2px 0;
	background: url(../images/icons/switcher.png) #444 center no-repeat;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.switcher-box .open-switcher i {
	display: none;
}